.button {
  font: inherit;
  border: 1px solid #000;
  background: #000;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}
.button:hover,
.button:active {
  background: #8a3415;
  border-color: #8a3415;
}

.button:focus {
  outline: none;
}
